<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<button value="A">
		<key key="ENTER" />
	</button>
	<button value="B">
		<key key="BACK_SPACE" />
	</button>
	<button value="X">
		<key key="ESCAPE" />
	</button>
	<button value="Y" pressType="COMBO">
		<key key="ALT" />
		<key key="TAB" />
	</button>
	<button value="RB">
		<key key="LEFT_MOUSE" />
	</button>
	<button value="LB">
		<key key="RIGHT_MOUSE" />
	</button>
	<button value="START" pressType="COMBO">
		<key key="CONTROL" />
		<key key="T" />
	</button>
	<button value="BACK" pressType="COMBO">
		<key key="CONTROL" />
		<key key="SHIFT" />
		<key key="T" />
	</button>
	<button value="RS">
		<key key="CENTER_MOUSE" />
	</button>
	<button value="LS">
		<key key="CONTROL" />
		<key key="W" />
	</button>
	<pov>
		<pov_button value="NP">
			<key key="UP" />
		</pov_button>
		
		<pov_button value="SP">
			<key key="DOWN" />
		</pov_button>
		
		<pov_button value="EP">
			<key key="RIGHT" />
		</pov_button>
		
		<pov_button value="WP">
			<key key="LEFT" />
		</pov_button>
		
		<pov_button value="NEP">
			<key key="UP" />
			<key key="RIGHT" />
		</pov_button>
		
		<pov_button value="NWP">
			<key key="UP" />
			<key key="LEFT" />
		</pov_button>
		
		<pov_button value="SEP">
			<key key="DOWN" />
			<key key="RIGHT" />
		</pov_button>
		
		<pov_button value="SWP">
			<key key="DOWN" />
			<key key="LEFT" />
		</pov_button>
	</pov>
</configuration>