<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>Configuration file for Strange Control</comment>

	<!-- Mouse move: left stick slow, right stick fast -->
	<entry key="x">mouseMove 10 x</entry>
	<entry key="y">mouseMove 10 y</entry>
	<entry key="rx">mouseMove 15 x</entry>
	<entry key="ry">mouseMove 15 y</entry>

	<!-- Left mouse click -->
	<entry key="0">mouseClick 1</entry>

	<!-- Right mouse click -->
	<entry key="3">mouseClick 3</entry>

	<!-- Keyboard: open and close tab -->
	<entry key="1">keyCombo CONTROL T</entry>
	<entry key="2">keyCombo CONTROL W</entry>
</properties>